@import 'variables';
@import 'common';

.footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid $border-color;
    
    input[type=radio] {
        display: none;
        
        & + label {
            display: inline-block;
            border-radius: $border-radius;
            border: 1px solid $border-color;
            
            background-color: $bg-color;
            
            line-height: 14px;
            text-align: center;
            
            margin: 0 10px 0 10px;
            padding: 5px;
            min-width: 50px;
        }
        & + label:hover {
            background-color: $hover-bg-color;
            cursor: pointer;
        }
        &:checked + label {
            background-color: $hover-bg-color;
        }
    }
}