$font: "Arial", sans-serif;

$font-size: 16px;
$font-color: #333;

$border-radius: 3px;
$border-color: #ccc;
$main-border-color: #aaa;

$bg-color: #fff;
$hover-bg-color: #ccc;

$checked-color: #333;
$unchecked-color: #fff;
$checked-bg-color: #efe;
$unchecked-bg-color: #fef;

$ok-bg-color: #efe;
$cancel-bg-color: #fef;

$outline-color: #99f;